	<!-- MAIN IMAGE SECTION -->
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>¿Qué es Cultura Subterránea?<br/>
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->


	<!-- TEAM INTRODUCTION -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<br>
				<br>
				<p>Esta es una página web dedicada a los artistas del subterráneo de la Ciudad Autónoma de Buenos Aires. En Cultura Subterránea creemos que su arte es un aspecto característico del transporte, por eso queremos promocionarlo y acercarlo a la comunidad de forma libre y gratuita. Soñamos con brindarles oportunidades laborales y mostrar al mundo lo agradable que puede ser viajar en el subte porteño. </p>
				<p>Por eso invitamos a los artistas que se desempeñen allí a inscribirse en la página, y al público en general a disfrutar de sus producciones y dejarse llevar por el arte emergente.</p>
			</div>

		</div>
		<div class="row mt">
			<div class="col-lg-8">
				<h1>¿Cómo funciona?</h1>
				<br>
			</div>
			<div class="col-lg-4"></div>
		</div><!-- row -->
		<div class="row">
			<div class="col-lg-8">
				<p><b>Si sos pasajero:</b> Aquí podes ver a tus <a href="#/portfolio">Artistas</a> preferidos, descubrir sus trabajos, seguirlos en las redes sociales y contactarlos.
						Además, en <a href="#/lines">Líneas</a> o <a href="#/services">Cronogramas</a> te podes enterar dónde y cuando encontrarlos.</p>
				<p><b>Si sos artista:</b> Participar es muy sencillo, solo tenés que llenar este <a href="#/form">formulario</a>.
				De esta forma tendrás una ficha en la que el público puede conocerte mejor y contactarte.
				En ese espacio también podes colgar novedades sobre tu trabajo, cuanto más subas es mejor, ya que aparecerás en la página de inicio como artista destacado. <br>
				En las secciones <a href="#/lines">Líneas</a> o <a href="#/services">Cronogramas</a> informaremos en que parte del subte y a qué hora te presentas usualmente.<br><br>
				Además, en <a href="#/lines">Info para Artistas</a> hay datos que pueden servirte.</p>
				<br>
				<br>
			</div>
		</div>
	</div><!-- container -->
