	<!-- MAIN IMAGE SECTION -->
	<div id="formwrap" ng-controller="FormCtrl">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>¡Llená el formulario y promocionate en Cultura Subterránea!<br/>
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->


	<!-- TEAM INTRODUCTION -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
</div>

		</div>
		<div class="row mt">
			<div class="col-lg-8">
				<h1>¡Llená el formulario y promocionate en Cultura Subterránea!</h1>
				<br>
			</div>
			<div class="col-lg-4"></div>
		</div><!-- row -->
		<div class="row">
			<div class="col-lg-8">

			</div>
		</div>

	</div><!-- container -->

	<!-- TEAM MEMBERS -->
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-12">
				<form id="contact-form">
								<div class="col-md-2"></div>
                <div class="col-md-8">
               		<fieldset class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" id="name" placeholder="Escribí tu nombre..">
                  	</fieldset>

                  	<fieldset class="form-group">
                    	<label for="gender">Género:</label>
												<select class="form-control" id="gender" required>
													<option disabled="disabled" selected="selected" value="">Elegí tu género...</option>
 													<option value="danza">Danza</option>
 													<option value="magia">Magia</option>
 													<option value="musica">Música</option>
													<option value="solidario">Solidario</option>
										  	</select>
                  	</fieldset>

										<fieldset class="form-group">
                    	<label for="message">Biografía (aquí podrás compartir una breve reseña sobre vos o tu grupo artístico): </label>
                    	<textarea class="form-control" id="message" rows="4" placeholder="Escribí tu Biografía..."></textarea>
                  	</fieldset>

										<fieldset class="form-group">
                    	<label for="email">Contacto:</label><br>
											<a class="btn" ng-click="facebookVisible=true" ng-show="!facebookVisible">Facebook...</a><br>
											<input type="email" ng-show="facebookVisible" class="form-control" id="email" placeholder="Facebook">

											<a class="btn" ng-click="twitterVisible=true" ng-show="!twitterVisible">Twitter...</a><br>
											<input type="email" ng-show="twitterVisible" class="form-control" id="email" placeholder="Twitter">

											<a class="btn" ng-click="instagramVisible=true" ng-show="!instagramVisible">Instagram...</a><br>
											<input type="email" ng-show="instagramVisible" class="form-control" id="email" placeholder="Instagram">

											<a class="btn" ng-click="telVisible=true" ng-show="!telVisible">Teléfono...</a><br>
											<input type="email" ng-show="telVisible" class="form-control" id="email" placeholder="Teléfono">

											<a class="btn" ng-click="emailVisible=true" ng-show="!emailVisible">Correo electrónico...</a><br>
                    	<input type="email" ng-show="emailVisible" class="form-control" id="email" placeholder="Correo electrónico">
                  	</fieldset>
										<fieldset class="form-group">
                    	<label for="email">Fotos/videos/audios</label>
                    	<input type="file" class="form-control" id="email" placeholder="">
                  	</fieldset>
										<fieldset class="form-group">
                    	<label for="email">Lugar (aclará en que línea o estación te presentas):</label>
                    	<input type="email" class="form-control" id="email" placeholder="Lugar...">
                  	</fieldset>

										<fieldset class="form-group">
                    	<label for="email">Cuándo (aclará en que día y horario te pueden encontrar los usuarios en el subte):</label>
                    	<input type="email" class="form-control" id="email" placeholder="Cuando...">
                  	</fieldset>
										<div class="checkbox">
                    	<label>
                      		<p><input type="checkbox"> Acepto los <a ng-click="openTerms()">términos y condiciones</a></p>
                    	</label>
                  	</div>

                  	<button class="btn btn-red btn-lg">Ingresar</button>
										<br>
										<br>
                </div>
                <div class="col-md-2">
                </div>
					</form>

			</div>

		</div><!-- row -->
	</div><!-- container -->
