	<!-- MAIN IMAGE SECTION -->
	<div id="noteswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Formulario de Registro<br/>
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->


	<!-- TEAM INTRODUCTION -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
</div>

		</div>
		<div class="row mt">
			<div class="col-lg-8">
				<h1>Inscripción de artista</h1>
				<br>
			</div>
			<div class="col-lg-4"></div>
		</div><!-- row -->
		<div class="row">
			<div class="col-lg-8">

			</div>
		</div>

	</div><!-- container -->

	<!-- TEAM MEMBERS -->
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-12">
		
			</div>

		</div><!-- row -->
	</div><!-- container -->
