	<!-- MAIN IMAGE SECTION -->
	<div id="infowrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Información para Artistas<br/>
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->


	<!-- TEAM INTRODUCTION -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8"></div>
		</div>
		<div class="row mt">
			<div class="col-lg-12">
				<h1>¿Sos artista y queres promocionarte en Cultura Subterránea? Inscribite <a href="#/form">acá</a></h1>
				<br>
			</div>
			<div class="col-lg-4"></div>
		</div><!-- row -->
		<div class="row">
						<div class="col-lg-6">
							<p> Conocé las bases y condiciones para participar de Cultura Subterránea:</p>
						</div>
						<div class="col-lg-3">
							<button type="button" data-toggle="modal" data-target="#terms" class="btn btn-red">Bases y Condiciones</button>
						</div>
		</div>
		<br>
		<br>
		<div class="row">
						<div class="col-lg-12">
							<p>¡Tenemos algunas novedades que pueden interesarte!</p>
						</div>
						<div class="col-lg-12">
							<div class="cardinfo col-lg-3">
								<p class="w-break">Si formas parte de una Cooperativa de Teatro o Danza, el Fondo Nacional de las Artes ofrece un subsidio para el montaje de obras.
									Hasta el 20 de julio  podés solicitarlo aquí: <a href="https://www.cultura.gob.ar/subsidio-cooperativas-de-teatro-y-danzas-del-fondo-nacional-de-las-artes_5909/">https://www.cultura.gob.ar/subsidio-cooperativas-de-teatro-y-danzas-del-fondo-nacional-de-las-artes_5909/</a>
								</p>
							</div>
							<div class="cardinfo col-lg-3 ">
								<p class="w-break"> ¿Tenés un proyecto artístico o cultural en la Ciudad de Buenos Aires?
									¡Inscribiste en el programa de Mecenazgo del Ministerio de Cultura GCBA y recibí financiamiento!<br>
									Podes hacerlo desde el 12 de julio hasta el 14 de agosto en <a href="http://www.buenosaires.gob.ar/cultura/mecenazgo">http://www.buenosaires.gob.ar/cultura/mecenazgo</a>.
								</p>
							</div>
							<div class="cardinfo col-lg-3 ">
								<p class="w-break"> ¡Viajá a Chile con tu música! Participá del IMESUR (Encuentro de Industria Musical Latinoamericana).<br><br>
									 Tenés tiempo para inscribirte hasta el 20 de julio en <a href="http://www.groovelist.co/imesur2018">http://www.groovelist.co/imesur2018</a>.
									 <br>
									 <br>
								</p>
							</div>
						</div>
		</div>
		<br>
	</div><!-- container -->


	<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="termsLabel">Bases y Condiciones</h4>
	      </div>
	      <div class="modal-body">
	        <p>
						<div ng-include="'views/terms.html'"></div>
					</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-red" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
