	<!-- MAIN IMAGE SECTION -->
	<div id="infowrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2> Información para Artistas<br/>
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->


	<!-- TEAM INTRODUCTION -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
</div>

		</div>
		<div class="row mt">
			<div class="col-lg-12">
				<h1>¿Sos artista y queres promocionarte en Cultura Subterránea? Inscribite <a href="/form">acá</a></h1>
				<br>
			</div>
			<div class="col-lg-4"></div>
		</div><!-- row -->
		<div class="row">
			<div class="col-lg-8">

			</div>
		</div>

	</div><!-- container -->

	<!-- TEAM MEMBERS -->
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="assets/img/team/gianni.png" alt="Gianni">
				<div class="cardinfo">
					<h4><b>GIANNI DI MARCO</b></h4>
					<h6>ART DIRECTOR</h6>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
					<p><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
				</div>
			</div>
			<div class="col-lg-4">
				<img src="assets/img/team/rebecca.png" alt="Rebecca">
				<div class="cardinfo">
					<h4><b>REBECCA ZEARING</b></h4>
					<h6>DESIGN DIRECTOR</h6>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
					<p><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
				</div>
			</div>
			<div class="col-lg-4">
				<img src="assets/img/team/william.png" alt="Gianni">
				<div class="cardinfo">
					<h4><b>WILLIAM SMITH</b></h4>
					<h6>TEAM MANAGER</h6>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
					<p><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
				</div>
			</div>
		</div><!-- row -->
	</div><!-- container -->
