	<!-- MAIN IMAGE SECTION -->
	<div id="lineswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Consultá dónde ver a tu artista<br/>
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /lineswrap -->


	<div class="container">
		<div class="row">
			<div class="col-lg-8"></div>
		</div>
		<div class="row mt">
			<div class="col-lg-8">
				<p> En este mapa podes encontrar a tu artista preferido en la red de líneas del subte de Buenos Aires. </p>
				<br>
			</div>
			<div class="col-lg-4"></div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="assets/img/prueba.png" width="" height="">
			</div>
		</div>
		<br>


		<div class="row mt">
			<div class="col-lg-8">
				<p> Información por Línea: </p>
				<br>
			</div>
		</div><!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading linea-a" role="tab" id="headingOne">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<h4 class="panel-title">
										LINEA A
									</h4>
				        </a>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
								<p>Esta línea une las estaciones Plaza de Mayo y San Pedrito.<br>
									 Comienza junto a la Casa Rosada, sigue el trayecto de las avenidas de Mayo y Rivadavia y finaliza en el barrio de
									Flores.<br> Combina con las líneas C,D,E y H.<br> Se inauguró en 1913 y fue la primera en ser construida.<br> Es reconocida por el color celeste.</p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading linea-b" role="tab" id="headingTwo">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<h4 class="panel-title">
								  	LINEA B
									</h4>
				        </a>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
								<p>Esta línea une las estaciones Leandro N. Alem y Juan Manuel de Rosas.<br> Comienza en la Avenida Leandro Alem,
									sigue el trayecto de las avenidas Corrientes y Triunvirato para finalizar en el barrio de Villa Urquiza.<br>
									Combina con las líneas C, D y H.<br> Se inauguró en 1930 y es reconocida por el color rojo.</p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading linea-c" role="tab" id="headingThree">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<h4 class="panel-title">
									LINEA C
									</h4>
				        </a>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
								<p>Esta línea une las estaciones Constitución y Retiro, realizando el trayecto existente entre las dos
									 estaciones	ferroviarias que llevan el mismo nombre bajo la avenida
									Nueve de Julio.<br> Combina con las líneas A,B, D y E.<br> Seinauguró en 1934 y en ella se colocaron los primeros
									murales decorativos del subte.<br>Es reconocida por el color azul.</p>
				      </div>
				    </div>
				  </div>
					<div class="panel panel-default">
				    <div class="panel-heading linea-d" role="tab" id="headingFour">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
									<h4 class="panel-title">
										LINEA D
									</h4>
				        </a>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				      <div class="panel-body">
								<p>Esta línea une las estaciones Catedral y Congreso de Tucumán.<br> Comienza junto a la Catedral Metropolitana en
									Plaza de Mayo, sigue el curso de la Diagonal Norte y luego de las Avenidas Santa Fe y Cabildo, para finalizar en el
									barrio de Belgrano.<br> Combina con todas las líneas del subte.<br>Se inauguró en 1937 y es reconocida por el color verde.</p>
				      </div>
				    </div>
				  </div>
					<div class="panel panel-default">
				    <div class="panel-heading linea-e" role="tab" id="headingFive">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
									<h4 class="panel-title">
									LINEA E
				      	</h4>
							</a>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				      <div class="panel-body">
								<p>Esta línea une las estaciones Bolivar y Plaza de los Virreyes.<br>
										Comienza a la derecha del Cabildo, frente a Plaza de Mayo , sigue el curso de la Diagonal Sur
										y luego de las Avenidas San Juan y Directorio, para finalizar en el barrio
										de Flores.<br> Combina con las líneas A,C,D ,H y con el servicio de Premetro. <br>Se inauguró en 1944 y es reconocida por el color magenta.</p>
				      </div>
				    </div>
				  </div>
					<div class="panel panel-default">
				    <div class="panel-heading linea-h" role="tab" id="headingSix">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
									<h4 class="panel-title">
										LINEA H
									</h4>
				        </a>
				    </div>
				    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
				      <div class="panel-body">
								<p>Esta línea une las estaciones Hospitales y Las Heras.<br>
									 Comienza en Parque Patricios, sigue el curso de las Avenidas Jujuy y Pueyrredón para finalizar en el barrio de Recoleta.<br>
 								 		Combina con las líneas A,B,D y E.<br> Se inauguró en 2011 y es reconocida por el color amarillo.</p>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<br>
		<br>

	</div><!-- container -->
