	<!-- MAIN IMAGE SECTION -->
	<div id="lineswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Consultá dónde ver a tu artista<br/>
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /lineswrap -->


	<!-- TEAM INTRODUCTION -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
</div>

		</div>
		<div class="row mt">
			<div class="col-lg-8">
				<h1>Líneas</h1>
				<br>
			</div>
			<div class="col-lg-4"></div>
		</div><!-- row -->
		<div class="row">
			<div class="col-lg-8">

			</div>
		</div>

	</div><!-- container -->
