<!-- MAIN IMAGE SECTION -->
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Cultura Subterránea</h1>
					<h2>Artistas en el subte de Buenos Aires</h2>
					<div class="spacer"></div>
					<i class="fa fa-angle-down"></i>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<!-- WELCOME SECTION -->
    <div class="container">
      <div class="row mt">
      	<div class="col-lg-8">
	        <h1>ARTISTAS DESTACADOS</h1>
	        <p></p>
      	</div>
      	<div class="col-lg-4">
      		<p class="pull-right"><br><button ng-click="goTo('portfolio')" type="button" class="btn btn-red">Buscá a tu artista</button></p>
      	</div>
      </div><!-- /row -->
    </div><!-- /.container -->

    <!-- PORTFOLIO SECTION -->
    <div id="portfolio">
    	<div class="container">
	    	<div class="row mt">
				<ul class="grid effect-2" grid-effect id="grid">
					<li><a href="#/details/2"><img src="assets/img/portfolio/juan_ciovini_1.jpg"></a></li>
					<li><a href="#/details/3"><img src="assets/img/portfolio/rumbo_subterrano_6.jpg"></a></li>
					<li><a href="#/details/1"><img src="assets/img/portfolio/bandoneon_patagonico_3.jpg"></a></li>
					<li><a href="#/details/3"><img src="assets/img/portfolio/rumbo_subterrano_5.jpg"></a></li>
					<li><a href="#/details/2"><img src="assets/img/portfolio/juan_ciovini_1.jpg"></a></li>
					<li><a href="#/details/1"><img src="assets/img/portfolio/bandoneon_patagonico_4.jpg"></a></li>
					<li><a href="#/details/0"><img src="assets/img/portfolio/alegria_subterranea_9.jpg"></a></li>
					<li><a href="#/details/0"><img src="assets/img/portfolio/alegria_subterranea_11.jpg"></a></li>
					<li><a href="#/details/0"><img src="assets/img/portfolio/alegria_subterranea_10.jpg"></a></li>
					<li><a href="#/details/5"><img src="assets/img/portfolio/sebastian_ango_7.jpg"></a></li>
					<li><a href="#/details/5"><img src="assets/img/portfolio/sebastian_ango_12.jpg"></a></li>
					<li><a href="#/details/4"><img src="assets/img/portfolio/underground_swing_duo_13.jpg"></a></li>
					<li><a href="#/details/4"><img src="assets/img/portfolio/underground_swing_duo_15.jpg"></a></li>
					<li><a href="#/details/4"><img src="assets/img/portfolio/underground_swing_duo_14.jpg"></a></li>
				</ul>
	    	</div><!-- row -->
	    </div><!-- container -->
    </div><!-- portfolio -->

		<!-- SERVICES SECTION -->
		<div id="services">
			<div class="container">
				<div class="row mt">
					<div class="col-lg-1 centered">
						<i class="fa fa-clock-o"></i>
					</div>
					<div class="col-lg-3">
						<a href="#/services"><h3>CRONOGRAMA</h3></a>
						<p>Enterate en que línea, día y horario tocarán tus artistas preferidos.</p>
					</div>

					<div class="col-lg-1 centered">
						<i class="fa fa-users"></i>
					</div>
					<div class="col-lg-3">
						<a href="#/portfolio"><h3>CONTRATÁ</h3></a>
						<p>a un artista para tu EVENTO.</p>
					</div>

					<div class="col-lg-1 centered">
						<i class="fa fa-edit"></i>
					</div>
					<div class="col-lg-3">
						<a href="#/form"><h3>¿SOS ARTISTA?</h3></a>
						<p>¿Querés promocionarte en la página?<br><a href="#/form"><font color="white"><b>¡INSCRIBITE!</b></font></a></p>
					</div>

				</div><!-- row -->
			</div><!-- container -->
		</div><!-- services section -->

		<!-- BLOG POSTS -->
		<div class="container">
			<div class="row mt">
				<div class="col-lg-12">
					<h1>Novedades Subterráneas </h1>
				</div>
				<div class="col-lg-8">
					<p></p>
				</div>
				<div class="col-lg-4 goright">
					<p><a href="#notes"><i class="fa fa-angle-right"></i>Ver todas las novedades</a></p>
				</div>
			</div>

			<div class="row mt">
				<div class="col-lg-4" ng-repeat="n in notes | limitTo:3">
					<img class="img-responsive" src="assets/img/post01.jpg" alt="">
					<h3><a href="">{{n.nombre}}</a></h3>
					<p>{{n.descripcion}}</p>
					<p><a href=""><i class="fa fa-link"></i> Leer Mas</a></p>
					<br>
					</div>
			</div>

		</div>


		<!--CALL TO ACTION -->
		<div id="call">
			<div class="container">
				<div class="row">
					<h3>FORMULARIO DE REGISTRO</h3>
					<div class="col-lg-8 col-lg-offset-2">
						<p>Si sos un artista hacé click en el botón para acceder al formulario de registro.</p>
						<p><button type="button" ng-click="goTo('form')" class="btn btn-red btn-lg">Hacé click para inscribirte!</button></p>
					</div>
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- Call to action -->

		<div class="container">
			<div class="row mt">
				<div class="col-lg-12">
					<h1>Conectate con Cultura Subterránea</h1>
							<p></p>
					<br>
				</div><!-- col-lg-12 -->
			</div><!-- row -->
		</div><!-- container -->
