<!-- MAIN IMAGE SECTION -->
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Cultura Subterránea</h1>
					<h2>Artistas en el subte de Buenos Aires</h2>
					<div class="spacer"></div>
					<i class="fa fa-angle-down"></i>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<!-- WELCOME SECTION -->
    <div class="container">
      <div class="row mt">
      	<div class="col-lg-8">
	        <h1>ARTISTAS DESTACADOS</h1>
	        <p></p>
      	</div>
      	<div class="col-lg-4">
      		<p class="pull-right"><br><button ng-click="goToPorfolio()" type="button" class="btn btn-green">Buscá a tu artista</button></p>
      	</div>
      </div><!-- /row -->
    </div><!-- /.container -->

    <!-- PORTFOLIO SECTION -->
    <div id="portfolio">
    	<div class="container">
	    	<div class="row mt">
				<ul class="grid effect-2" grid-effect id="grid">
					<li><a href="singleproject.html"><img src="assets/img/portfolio/1.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/6.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/3.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/5.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/2.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/4.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/9.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/11.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/10.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/7.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/13.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/12.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/14.jpg"></a></li>
					<li><a href="singleproject.html"><img src="assets/img/portfolio/15.jpg"></a></li>
				</ul>
	    	</div><!-- row -->
	    </div><!-- container -->
    </div><!-- portfolio -->
