	<!-- MAIN IMAGE SECTION -->
	<div id="noteswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Notas<br/>
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->


	<!-- BLOG POSTS -->
	<div class="container">
		<div class="row mt">
			<div class="col-lg-12">
				<h1>Notas Subterráneas </h1>
			</div>
			<div class="col-lg-8">
				<p></p>
			</div>
		</div>

		<div class="row mt">
			<div class="col-lg-4" ng-repeat="n in notes">
				<h3><a href="">{{n.nombre}}</a></h3>
				<p ng-bind-html="n.descripcion"></p>
				<p><a href=""><i class="fa fa-link"></i> Leer más</a></p>
				<br>
			</div>
		</div>

	</div>
