<!-- MAIN IMAGE SECTION -->
<div id="portfoliowrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Encontrá a tu Artista<br/>
				</h2>
			</div>
		</div><!-- row -->
	</div><!-- /container -->
</div><!-- /portrwrap -->

<!-- TEAM MEMBERS -->
<div class="container">
	<div class="row mt centered">

		<div class="col-lg-12" ng-repeat="a in artists"><!-- ng-repeat-->
			<img class="responsive" ng-src="{{a.profile_img}}" alt="{{a.nombre}}">
			<div class="cardinfo">
				<h4><b>{{a.nombre}}</b></h4>
				<h6>{{a.genero}}</h6>
				<p>{{a.bio}}</p>
				<p>
					<a href="{{a.contacto.facebook}}" target="_blank" ng-if="a.contacto.facebook"><i class="fa fa-facebook"></i></a>
					<a href="{{a.contacto.instagram}}" target="_blank" ng-if="a.contacto.instagram"><i class="fa fa-instagram"></i></a>
					<a href="{{a.contacto.twitter}}" target="_blank" ng-if="a.contacto.twitter"><i class="fa fa-twitter"></i></a>
					<a href="mailto:{{a.contacto.email}}" ng-if="a.contacto.email"><i class="fa fa-envelope"></i></a>
					<a ng-if="a.contacto.tel" title="{{a.contacto.tel}}"><i class="fa fa-phone"></i></a>
				</p>
			</div>
		</div>

	</div><!-- row -->
</div><!-- container -->
