<!-- MAIN IMAGE SECTION -->
<div id="portfoliowrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Encontrá a tu Artista<br/>
				</h2>
			</div>
		</div><!-- row -->
	</div><!-- /container -->
</div><!-- /portrwrap -->



<!-- TEAM MEMBERS -->
<div class="container">
	<div class="row">
		<br>
		<br>
		<div class="col-lg-8">
			<p> Aquí podrás buscar a tu artista preferido, ya sea por el tipo de actividad que
			realiza o según la línea donde se presenta. </p>
		</div>
		<div class="col-lg-4">
			<p class="pull-right"><br><button type="button" class="btn btn-red">Buscá a tu artista</button></p>
		</div>
	</div>
	<br>
	<br>
	<div class="row">

		<div class="col-lg-12"><!-- ng-repeat-->

			<table class="table  table-bordered table-striped">
			  <thead>
			    <tr>
			      <th scope="col" class="col-lg-6">Genero</th>
			      <th scope="col">Lineas</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">musical</td>
			      <td><span><b>{{lineasConst.a}}</b></span><br>
							<div class="col-lg-6" ng-repeat="a in artists track by $index" ng-if="a.linea == lineasConst.a"><a href="#/details/{{$index}}">{{a.nombre}}</a></div>
						</td>
			    </tr>
			    <tr>
			      <th scope="row">2</th>
						<td><span><b>{{lineasConst.b}}</b></span><br>
							<div class="col-lg-6" ng-repeat="a in artists track by $index" ng-if="a.linea == lineasConst.b"><a href="#/details/{{$index}}">{{a.nombre}}</a></div>
						</td>
			    </tr>
			    <tr>
			      <th scope="row">3</th>
						<td><span><b>{{lineasConst.c}}</b></span><br>
							<div class="col-lg-6" ng-repeat="a in artists track by $index" ng-if="a.linea == lineasConst.c"><a href="#/details/{{$index}}">{{a.nombre}}</a></div>
						</td>
			    </tr>
					<tr>
			      <th scope="row">3</th>
						<td><span><b>{{lineasConst.d}}</b></span><br>
							<div class="col-lg-6" ng-repeat="a in artists track by $index" ng-if="a.linea == lineasConst.d"><a href="#/details/{{$index}}">{{a.nombre}}</a></div>
						</td>
			    </tr>
					<tr>
			      <th scope="row">3</th>
						<td><span><b>{{lineasConst.e}}</b></span><br>
							<div class="col-lg-6" ng-repeat="a in artists track by $index" ng-if="a.linea == lineasConst.e"><a href="#/details/{{$index}}">{{a.nombre}}</a></div>
						</td>
			    </tr>
					<tr>
			      <th scope="row">3</th>
						<td><span><b>{{lineasConst.f}}</b></span><br>
							<div class="col-lg-6" ng-repeat="a in artists track by $index" ng-if="a.linea == lineasConst.f"><a href="#/details/{{$index}}">{{a.nombre}}</a></div>
						</td>
			    </tr>
					<tr>
			      <th scope="row">3</th>
						<td><span><b>{{lineasConst.g}}</b></span><br>
							<div class="col-lg-6" ng-repeat="a in artists track by $index" ng-if="a.linea == lineasConst.g"><a href="#/details/{{$index}}">{{a.nombre}}</a></div>
						</td>
			    </tr>
					<tr>
			      <th scope="row">3</th>
						<td><span><b>{{lineasConst.h}}</b></span><br>
							<div class="col-lg-6" ng-repeat="a in artists track by $index" ng-if="a.linea == lineasConst.h"><a href="#/details/{{$index}}">{{a.nombre}}</a></div>
						</td>
			    </tr>
			  </tbody>
			</table>
		</div>

	</div><!-- row -->
</div><!-- container -->
