	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2><br/>Cronogramas<br/>
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<!-- PROCESS SECTION -->
    <div class="container">
      <div class="row mt">
		  <div class="col-lg-8">
		  	<h1>Our Process</h1>
		  	<hr>
		  	<h3><b>LEARN</b></h3>
		  	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		  	<br>
		  	<h3><b>DESIGN</b></h3>
		  	<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</p>
		  	<br>
		  	<h3><b>BUILD</b></h3>
		  	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		  	<br>
		  	<h3><b>EVOLVE</b></h3>
		  	<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</p>
		  </div><!-- col-lg-8 -->
		  <div class="col-lg-4">
			<ul class="process effect-2" id="process">
				<li><img src="assets/img/process/pro01.png"></li>
				<li><img src="assets/img/process/pro02.png"></li>
				<li><img src="assets/img/process/pro03.png"></li>
				<li><img src="assets/img/process/pro04.png"></li>
			</ul>
		  </div><!-- col-lg-4 -->
      </div><!-- /row -->
    </div><!-- /.container -->


	<!-- CLIENTS LOGOS -->
	<div id="lg">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-2 col-lg-offset-1">
					<img src="assets/img/clients/c01.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c02.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c03.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c04.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c05.gif" alt="">
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- dg -->
