	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row col-lg-12">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<h2>Cronogramas</h2>
				</div>
				<div class="col-md-4"></div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<!-- TEAM INTRODUCTION -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
</div>

		</div>
		<div class="row mt">
			<div class="col-lg-8">
				<h1>Cronogramas</h1>
				<br>
			</div>
			<div class="col-lg-4"></div>
		</div><!-- row -->
		<div class="row">
			<div class="col-lg-8">

			</div>
		</div>

	</div><!-- container -->
