	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row col-lg-12">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<h2>Cronogramas</h2>
				</div>
				<div class="col-md-4"></div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<!-- TEAM INTRODUCTION -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
</div>

		</div>
		<div class="row mt">
			<div class="col-lg-8">
				<h1>Cronogramas</h1>
				<br>
			</div>
			<div class="col-lg-4"></div>
		</div><!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-striped table-bordered">
					<thead>
					<tr style="background-color:#c0504c; color: black">
						<th scope="col"><b>LINEA</b></th>
						<th scope="col">ARTISTA</th>
						<th scope="col">CUANDO</th>
						<th scope="col">DONDE</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">A</th>
						<td>Bandoneón Patagónico</td>
						<td>Mañanas de Lunes a Viernes</td>
						<td>Estación Lima</td>
					</tr>
					<tr>
						<th scope="row">B</th>
						<td>Alegría Subterránea</td>
						<td>La noche del ultimo viernes de cada mes</td>
						<td>Vagón</td>
					</tr>
					<tr>
						<th scope="row">C</th>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">D</th>
						<td>Juan Ciovini</td>
						<td>Mañanas de Lunes a Viernes</td>
						<td>Estación Pueyrredón </td>
					</tr>
					<tr>
						<th scope="row">E</th>
						<td>Sebastián Ango</td>
						<td>Todas las tardes de los días de semana</td>
						<td>Vagón</td>
					</tr>
					<tr>
						<th scope="row" rowspan="2">H</th>
						<td>Rumbo Subterráneo</td>
						<td>Mañanas de Martes a Domingo</td>
						<td>Vagón</td>
					</tr>
					<tr>
						<td>Underground Swing Dúo</td>
						<td>Miércoles y Jueves desde el mediodía hasta la noche</td>
						<td>Vagón</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div><!-- container -->
