<p>
  <b>Condiciones generales de uso de Cultura Subterránea</b><br><br>
1) Aceptación de los términos de uso<br><br>
La utilización del sitio web www.culturasubterranea.com.ar, propiedad de ..............................., en
adelante "El administrador", es absolutamente gratuita y supone la aceptación plena por quien
accede al mismo, en adelante “El usuario”, de todas las Condiciones Generales de Uso vigentes en
cada momento que se encuentren en la presente dirección.<br>
El administrador se reserva el derecho a retirar el acceso a la presente página web, sin necesidad
de previo aviso, a cualquier Usuario que contravenga lo dispuesto en estas Condiciones Generales
de Uso.<br>
El administrador se reserva el derecho de modificar en cualquier momento la presentación,
configuración y localización del sitio web, así como los contenidos y las condiciones requeridas
para utilizar los mismos.<br><br>
2) Objeto y participación<br><br>
La página web www.culturasubterranea.com.ar brinda promoción y difusión para artistas
emergentes que desarrollan sus rutinas o espectáculos en el ámbito de los subterráneos de la
Ciudad Autónoma de Buenos Aires. Para participar de los servicios que brinda esta página web, los
usuarios deberán inscribirse a través del formulario contenido en la sección “Info para artistas” o
“Inicio”, y aceptar íntegramente y sin condiciones las presentes consideraciones generales de uso.
Además, deberán ser mayores de 18 años al momento de su registro, y cumplir con el reglamento
establecido para el desarrollo de espectáculos artísticos de Subterráneos de Buenos Aires Sociedad
del Estado (SBASE).<br>
El usuario autoriza expresamente a www.culturasubterranea.com.ar a que utilice total o
parcialmente su imagen, voz y/o rutina a fin de que la misma sea divulgada para cumplir con el
objeto previsto en los párrafos precedentes. Además, en cumplimiento de tales fines podrá realizar
enlaces a otras páginas, las cuales no son gestionadas por El Administrador. Dichos enlaces
provienen de otras fuentes de información, y por lo tanto El Administrador declina toda
responsabilidad que pudiese surgir al acceder a las páginas de terceros.<br>
El administrador autoriza el establecimiento de enlaces entre otras webs y la suya, siempre que se
respeten las siguientes condiciones:<br>
1-que el enlace no se establezca desde una web cuyos contenidos resulten contrarios a la Ley, a la
moral y al orden público,<br>
2-que no se ofrezca una imagen del administrador o de sus productos que resulte distorsionada,
perjudicial, o equivocada,<br>
3-que no se cree la impresión de que concurre una inexistente relación o vinculación comercial
entre el administrador y los titulares, responsables o anunciantes desde la que se crea el enlace,
cuando éste no sea el caso,<br>
4-que no se cree la impresión de que los contenidos o web del administrador pertenecen o han
sido diseñados por los titulares, responsables o anunciantes en la web desde la que se establece el
enlace.<br><br>
3) Inscripciones y derecho de autor<br><br>
Las inscripciones se realizarán a través del formulario pertinente contenido en la sección “Info para
artistas” o “Inicio”. Las mismas podrán realizarse de manera permanente. Para que la inscripción
sea válida deben completarse todos los datos solicitados en el formulario. La falta de datos o su
falsedad podría invalidar la presentación. El administrador evaluará las inscripciones y publicará las
que cumplan con los requisitos solicitados. Cuando los artistas incorporen en sus rutinas o
espectáculos fragmentos musicales, textos u obras de terceros, deberán declarar que están
autorizados para su uso y que liberan al administrador por los reclamos que estos terceros
pudieran hacer, siendo que cada participante es el exclusivo responsable de infracciones a la
legislación vigente en materia de derecho de autor.<br><br>
4) Propiedad intelectual e industrial<br><br>
El usuario reconoce y acepta que todos los derechos de propiedad industrial e intelectual sobre los
contenidos y cualesquiera otros elementos insertados en el sitio web pertenecen al administrador
o a sus licenciantes, salvo en lo referente a hipervínculos.<br>
El administrador es titular de los elementos que integran el diseño gráfico de su página web, los
menús, botones de navegación, el código HTML, los textos, imágenes, texturas, gráficos y cualquier
otro contenido de la página web o, en cualquier caso, dispone de la correspondiente autorización
para la utilización de dichos elementos.<br>
Por lo tanto, el usuario sólo está autorizado a visualizar todo el material y contenido de esta página
tal y como se presenta, y a descargar en una sola computadora una copia del material para su uso
personal y privado, nunca con propósitos comerciales, siempre que el Usuario cumpla con todas
las normativas de propiedad industrial e intelectual.<br>
Así mismo queda prohibido suprimir, eludir o manipular el "copyright" y demás datos
identificativos de los derechos de www.culturasubterranea.com.ar así como los dispositivos
técnicos de protección, o cualquier mecanismo de información que pudieran contener los
contenidos.<br><br>
5) Uso del servicio, política de privacidad y manejo de datos<br><br>
Las condiciones de acceso y uso de la presente página web se rigen estrictamente por la ley
vigente y por el principio de buena fe, comprometiéndose el Usuario a realizar un buen uso de la
web y de los servicios que se ofrecen. Quedan prohibidos todos los actos que vulneren la legalidad,
derechos o intereses de terceros, prohibiéndose expresamente realizar actuaciones que puedan
producir en la web o a través de la misma y por cualquier medio algún tipo de daño a los sistemas
del administrador o a terceros.<br>
El administrador cumple con la normativa vigente establecida en la Ley 25326 de Protección de
datos de carácter personal, y se compromete a atender a las peticiones de información solicitadas
por el usuario, siendo responsable del tratamiento que demanden.<br>
El uso de cookies para obtener información y realizar análisis estadísticos sobre el uso de nuestro
sitio web son anónimas y no se refieren a los datos personales del usuario ni se puede acceder a
través de las mismas a datos del disco duro del usuario. La identidad del usuario nunca es
insertada directamente en la cookie y por tanto no se le puede identificar.<br>
El protocolo utilizado se trata de un protocolo sin estado, lo que significa que se carece de medios
para relacionar la información concerniente a una petición con otra petición anterior o posterior.
Este protocolo no conoce a la persona a quien está enviando una página ni cuántas páginas le haya
podido enviar, incluso aunque nos hayamos conectado escasamente algunos segundos antes, ya
que cada petición de la página se procesa independientemente.<br><br>
6) Responsabilidad<br><br>
Cultura Subterránea no será responsable por cualquier daño que pudieran sufrir los equipos,
instrumentos y/u otros elementos que utilicen los artistas en el desarrollo de sus espectáculos, ni
por cualquier siniestro o daño a terceros que suceda durante el desarrollo de las diferentes rutinas
o espectáculos, o como consecuencia del mismo.<br>
Con los límites establecidos en la Ley, el administrador no asume ninguna responsabilidad derivada
de la falta de actualización y precisión de los datos personales de los usuarios, quienes se
comprometen a la veracidad y vigencia de la información que proporcionan.<br><br>
7) Datos identificativos<br><br>
El administrador en cumplimiento con lo dispuesto en el art 10 de Ley 34/2002 de Servicios de la
Sociedad de la Información y de Comercio Electrónico, a través de su página Web proporciona el
acceso, por medios electrónicos, de forma permanente, fácil, directa y gratuita, a la información
relativa a su razón social, datos fiscales, registrales, domicilio y dirección de comunicaciones.<br>
Titular: …...........................................................<br>
CUIT n° ….........................................................<br>
Domicilio Legal..................................................<br>
Email: …............................................................<br></p>
